* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.primaryBox {
    height: 100vh;
    width: 100%;
    background-image: url(./img/background.png);
    background-color: #191919;
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
}

.portifolio {
    color: #ffffff;
    font-size: 25px;
}

.portifolio span {
    color: #EF3347;
    font-size: 25px;
}

li {
    color: #ffffff;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    justify-content: space-between;
    margin-right: 30px;
    cursor: pointer;
}

li:hover {
    color: #EF3347;
    transition: 0.5s;
}

.name {
    position: absolute;
    top: 43%;
    left: 4%;
    font-size: 30px;
}

h1 {
    color: #ffffff;
    font-size: 70px;
    margin-bottom: 4px;
}

h1 span {
    color: #EF3347;
    font-size: 70px;
}

.name h3 {
    color: #ffffff;
    font-size: 25px;
    margin-left: 3px;
}