* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.primaryBox {
    height: 100vh;
    width: 100%;
    background-image: url(./img/background.png);
    background-color: #191919;
    background-size: cover;
    background-position: center;
    background-position-x: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin-right: -10px;
    padding-top: 20px;
}

.portifolio {
    color: #ffffff;
    font-size: 25px;
}

.portifolio span {
    color: #EF3347;
    font-size: 25px;
}

li {
    color: #ffffff;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    justify-content: space-between;
    margin-right: 30px;
    cursor: pointer;
}

li:hover {
    color: #EF3347;
    transition: 0.5s;
}

.name {
    position: absolute;
    top: 43%;
    left: 4%;
    font-size: 30px;
}

h1 {
    color: #ffffff;
    font-size: 70px;
    margin-bottom: 4px;
}

h1 span {
    color: #EF3347;
    font-size: 70px;
}

.name h3 {
    color: #ffffff;
    font-size: 25px;
    margin-left: 3px;
}

section {
    display: flex;
    align-items: center;
    padding: 60px 5%;
    background-color: black;
    justify-content: space-between;
}

section img {
    width: 400px;
    height: 400px;
    margin-right: 100px;
    border-radius: 20%;
    border: 3px solid #EF3347;
}

section div h2 {
    color: #ffffff;
    font-size: 50px;
}

section div p {
    color: #9e9e9e;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
}

section div button {
    background-color: #EF3347;
    color: #ffffff;
    height: 50px;
    font-size: 20px;
    width: 180px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
}

section div button:hover {
    background-color: black;
    border: 3px solid #EF3347;
    transition: 0.5s;
}

.projetos {
    background-color: #191919;
    padding-top: 50px;
    padding-bottom: 50px;
}

.projetos h2 {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
}

.card {
    background-color: black;
    height: 365px;
    width: 335px;
    border-radius: 30px;
    padding: 20px 35px;
    text-align: center;
}

.card img {
    width: 100px;
}

.card h5 {
    color: #ffffff;
    font-size: 24px;
}

.card p {
    color: #9e9e9e;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.card a {
    background-color: #EF3347;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.card a:hover {
    background-color: black;
    border: 3px solid #EF3347;
    transition: 0.5s;
}

.capsulaCard {
    display: flex;
    justify-content: space-around;
    margin: 50px 150px;
}